/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Style for button */
.boton {
  display: flex;
  border: 1px solid #2e518b;
  padding: 10px;
  background-color: #2e518b;
  font-family: "Helvetica", sans-serif;
  justify-content: center;
}

/* Style for container */
.container {
  display: flex;
  width: 90vw;
  height: 60vw;
}

/* Style for contacts */
.contactos {
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

/* Style for sections */
.seccion {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Style for header */
.header {
  background-color: antiquewhite;
  height: 5vh; /* corrected typo, should be 'vh' */
  width: 100%;
}

/* Style for main content */
.principal {
  background-color: white;
  width: 80%; /* adjusted width to fit the remaining space */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style for text */
.texto {
  text-align: center;
}

/* Body font */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* adjusted to make items responsive */
  gap: 20px; /* Gap between items */
}

/* Grid items */
.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Description text */
.description {
  margin-top: 10px;
  font-size: 14px;
}

/* Image inside grid items */
.grid-item img {
  max-width: 100%;
  height: auto;
}
